{%extends 'products.html'%}

{%block body%}
  
    <div class="col-xs-12 col-md-6">
	<!-- First product box start here-->
	<div class="prod-info-main prod-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image"> 
						<img src="/static/photography.png" class="img-responsive">
						<span class="tag2 hot">
							6
						</span> 
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
							<a href="#">
								Product Code/Name here
							</a>
							<a href="#">
								<span>Product Category</span>
							</a>                            

						</h5>
						<p class="price-container">
							<span>$199</span>
						</p>
						<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>A Short product description here </p>
				</div>
				<div class="product-info smart-form">
					<div class="row">
						<div class="col-md-12"> 
							<a href="javascript:void(0);" class="btn btn-danger">Need more info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>
<div class="col-xs-12 col-md-6">
	<!-- First product box start here-->
	<div class="prod-info-main prod-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image"> 
						<img src="/static/ipod.jpg" class="img-responsive">
						<span class="tag2 hot">
							6
						</span> 
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
							<a href="#">
								Product Code/Name here
							</a>
							<a href="#">
								<span>Product Category</span>
							</a>                            

						</h5>
						<p class="price-container">
							<span>$199</span>
						</p>
						<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>A Short product description here </p>
				</div>
				<div class="product-info smart-form">
					<div class="row">
						<div class="col-md-12"> 
							<a href="javascript:void(0);" class="btn btn-danger">Need more info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>
<div class="col-xs-12 col-md-6">
	<!-- First product box start here-->
	<div class="prod-info-main prod-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image"> 
						<img src="/static/ipod.jpg" class="img-responsive">
						<span class="tag2 hot">
							6
						</span> 
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
							<a href="#">
								Product Code/Name here
							</a>
							<a href="#">
								<span>Product Category</span>
							</a>                            

						</h5>
						<p class="price-container">
							<span>$199</span>
						</p>
						<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>A Short product description here </p>
				</div>
				<div class="product-info smart-form">
					<div class="row">
						<div class="col-md-12"> 
							<a href="javascript:void(0);" class="btn btn-danger">Need more info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>
<div class="col-xs-12 col-md-6">
	<!-- First product box start here-->
	<div class="prod-info-main prod-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image"> 
						<img src="/static/camera.png" class="img-responsive">
						<span class="tag2 hot">
							0
						</span> 
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
							<a href="#">
								Product Code/Name here
							</a>
							<a href="#">
								<span>Product Category</span>
							</a>                            

						</h5>
						<p class="price-container">
							<span>$199</span>
						</p>
						<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>A Short product description here </p>
				</div>
				<div class="product-info smart-form">
					<div class="row">
						<div class="col-md-12"> 
							<a href="javascript:void(0);" class="btn btn-danger">Need more info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>
<div class="col-xs-12 col-md-6">
	<!-- First product box start here-->
	<div class="prod-info-main prod-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image"> 
						<img src="/static/headphones.jpg" class="img-responsive">
						<span class="tag2 special">
							12
						</span> 
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
							<a href="#">
								Product Code/Name here
							</a>
							<a href="#">
								<span>Product Category</span>
							</a>                            

						</h5>
						<p class="price-container">
							<span>$199</span>
						</p>
						<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>A Short product description here </p>
				</div>
				<div class="product-info smart-form">
					<div class="row">
						<div class="col-md-12"> 
							<a href="javascript:void(0);" class="btn btn-danger">Need more info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>
<div class="col-xs-12 col-md-6">
	<!-- First product box start here-->
	<div class="prod-info-main prod-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image"> 
						<img src="/static/watch.jpg" class="img-responsive">
						<span class="tag2 hot">
							10
						</span> 
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
							<a href="#">
								Product Code/Name here
							</a>
							<a href="#">
								<span>Product Category</span>
							</a>                            

						</h5>
						<p class="price-container">
							<span>$199</span>
						</p>
						<span class="tag1"></span> 
				</div>
				<div class="description">
					<p>A Short product description here </p>
				</div>
				<div class="product-info smart-form">
					<div class="row">
						<div class="col-md-12"> 
							<a href="javascript:void(0);" class="btn btn-danger">Need more info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{%endblock%}